body {
  padding: 50px;
  font-family: 'Shippori Antique B1', sans-serif;
  text-align: center;
  background-color: grey;
}

a {
  color: #00B7FF;
}

h1 {
  color: indigo;
}

th {
  color: slateblue;
  padding: 10px 20px;
}

td {
  color: navy;
}

label {
  color: darkgreen;
}