html {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font-family: 'Shippori Antique B1', sans-serif;
  /* text-align: center; */
  background-color: gray;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main";
  font-size: 1.5rem;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

body > nav {
  grid-area: nav;
  background-color: darkblue;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > i {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #424748;
}

nav > a:visited {
  color: whitesmoke;
}

nav > a.active {
  color: white;
}


h1, h2 {
  color: indigo;
  text-align: center;
}

th {
  color: slateblue;
  padding: 10px 20px;
}





