form, table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  grid-gap: 10px;
  border-radius: 5px;
  padding: 5px;
  color: darkblue;
}

input {
  width: 12rem;
}

button {
  width: 5rem;
  margin-bottom: 10px;
  background-color: skyblue;
}