td {
  color: navy;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid skyblue;
}

table td {
  padding: 10px;
  text-align: center;
}

label {
  color: darkblue;
  margin-left: auto;
  margin-right: auto;
}

#details{
  background-color: skyblue;
  color: darkblue;
  border-radius: 10px;
  text-decoration: none;
}

#xbutton {
  background-color: skyblue;
  color: darkblue;
  border-radius: 10px;
  width: 3rem;
  height: 1.8rem;
}
