#detail {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0;
  text-align: center;
  grid-gap: 10px;
  border-radius: 5px;
}

div {
  color: darkblue;
}

section {
  text-align: center;
  color: darkblue;
  margin-left: auto;
  margin-right: auto;
}

ul {
  color: darkblue;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
}

#add-ticket {
  margin: 0 auto;
  margin: 20px;
}
